
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');

/**/
body {
    margin: auto;
}

.conteneur {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteneur-row {
    display: flex;
    flex-direction: row;
}

.fontMain {
    font-family: 'Almarai', sans-serif;
}

/* photo */
.element:nth-child(1) {
    background-color: #F4C402;
    width: 250px;
    height: 230px;
}

.item-img {
    overflow: hidden;
    width: 145px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 5px #757575;
}

.item-img-photo {
    height: 210px;
    margin: auto;
}
/* SIDEBBAR */
.element:nth-child(2) {
    margin-left: 260px;
    height: auto;
    margin-top: -180px;
    flex-direction: column;
}

.aboutMe {
    width: 250px;
    height: auto;
    padding-top: 40px;
    background-color: #F4C402;
}

h3 {
    font-weight: 400;
}

.aboutMe-item {
    text-align: center;
}

    .aboutMe-item h3 {
        color: #F4C402;
        background-color: #424242;
        padding: 5px;
    }

.item-fontSize {
    font-size: 13px;
    margin-top: -5px;
}

.item-fontFamily {
    font-family: 'Libre Franklin', sans-serif;
    color: #4F4F4F;
}

.item-fontWeight {
    font-weight: 700;
    margin-top: -10px;
}

.item-contact {
    text-align: left;
    margin-left: 30px;
    height: 180px;
}

.item-aboutMe {
    margin-left: 30px;
    text-align: left;
    margin-right: 30px;
    text-align: justify;
}

.item-loisirs {
    margin-left: 30px;
    margin-right: 15px;
}

#loisir {
    margin-top: 260px;
    padding-bottom: 20px;
}

.item-loisirs-circle {
    width: 50px;
    height: 50px;
    border: 1px solid #424242;
    margin-top: 5px;
    border-radius: 50%;
    margin-right: 15px;
}

/* CV */
.element:nth-child(3) {
    margin-top: -1040px;
    background-color: #F4C402;
    width: 250px;
}

.color-font {
    color: #424242;
}

.cv {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

.name h1 {
    font-size: 40px;
    font-weight: lighter;
}

.name h3 {
    margin-top: -50px;
}

mark {
    background-color: white;
    color: #F4C402;
}

.hr {
    border: 0.5px solid #F4C402;
    margin-top: -10px;
}

.hr-modif {
    width: 60px;
    margin-top: -15px;
}

.marginTop-cv {
    margin-top: 90px;
}

h2 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
}

.contenu-title {
    margin-right: 20px;
    color: #F4C402;
}

.dotCircle {
    color: #F4C402;
    width: 30px;
    margin-top: 11px;
}

.dot-Circle--little {
    font-size: 14px;
}

.dotCircle-little {
    font-size: 10px;
}

.date {
    width: 200px;
    text-align: left;
    font-size: 13px;
}

.date-item {
    width: 350px;
}

/* media queries */
@media all and (max-width: 880px) {
    .element {
        width: 100%;
    }

        .element:nth-child(1) {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

    .item-img {
        width: 145px;
    }

    .element:nth-child(2) {
        margin-left: 0px;
        margin-top: 0px;
        height: 1350px;
    }

    .element:nth-child(3) {
        width: 100%;
        margin-top: 0px;
        background-color: #F4C402;
    }

    .cv {
        margin-right: 10px;
    }

    .aboutMe-item {
        margin-top: -20px;
    }

    .item-contact {
        height: 200px;
    }

    #loisir {
        margin-top: 0px;
    }

    .conteneur-row {
        justify-content: center;
    }

    .recommandation {
        justify-content: flex-start;
    }
}

@media all and (max-width: 425px) {
    .element:nth-child(3) {
        margin-top: 300px;
    }

    .element:nth-child(2) {
        margin-left: -20px;
        height: 1200px;
    }
}

@media all and (max-width: 375px) {
    .element:nth-child(3) {
        margin-top: 350px;
    }

    .element:nth-child(2) {
        height: 1200px;
    }
}

@media all and (max-width: 320px) {
    .element:nth-child(3) {
        margin-top: 500px;
    }

    .element:nth-child(2) {
        height: 1200px;
    }
}




