
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');

.container {
    justify-content: flex-start;
    font-family: 'Almarai', sans-serif;
}

.box {
    margin: auto;
    display: flex;
    justify-content: center;
}

/* SIDEBBAR */
h3 {
    font-weight: 400;
}

.aboutMe {
    width: 250px;
    height: auto;
    margin-left: -8px;
    margin-top: -10px;
    padding-top: 40px;
    background-color: #F4C402; 
    overflow-x: auto;
    overflow-y: auto;
}

.item-img {
    overflow: hidden;
    width: 145px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 5px #757575; 
}
.item-img-photo {
    height: 210px;
    width: auto;
}

.item {
    text-align: center;
    margin-top: 40px;
    color: black;
}
.item-fontSize {
    font-size: 13px;
    margin-top: -5px;
}
.item-fontFamily {
    font-family: 'Libre Franklin', sans-serif;
    color: #4F4F4F;
}
.item-fontWeight {
    font-weight: 700;
    margin-top: -10px;
}

.item-contact {
    text-align: left;
    margin-left: 30px;
}

.item-aboutMe {
    margin-left: 30px;
    text-align: left;
    margin-right: 30px;
    text-align: justify;
}

.item h3 {
    color: #F4C402;
    background-color: #424242;
    padding: 5px;
}

.item-loisirs {
    margin-left: 30px;
    margin-right: 15px;
}

#loisir {
    margin-top: 260px;
    padding-bottom: 20px;
}

.item-loisirs-circle {
    width: 50px;
    height: 50px;
    border: 1px solid #424242;
    margin-top: 5px;
    border-radius: 50%;
    margin-right: 15px;
}


/* CV */
.color-font {
    color: #424242;
}

h1 {
    font-weight: 200;
}
h2 {
    font-weight: 400;
}
h4 {
    font-weight: 400;
}

body {
  
}

.marginTop-cv{
    margin-top: 90px;
}

.contenu-title {
    margin-right: 20px;
    color: #F4C402;
}

.cv {
    margin-left: 40px;
    margin-top: 30px;
}

.name {
    font-size: 20px;
    font-weight: lighter;
}

.name h3 {
     margin-top: -20px;
}

mark {
    background-color: white;
    color: #F4C402;
}

.hr {
    border: 0.5px solid #F4C402;
    margin-top: -10px;
    
}

.hr-modif {
    width: 60px;
    margin-top: -20px;
}

.dotCircle {
    color: #F4C402;
    width: 30px;
    margin-top: 11px;
}
.dot-Circle--little {
    font-size: 14px;
}
.dotCircle-little {
    font-size: 10px;
}

.date {
    width: 200px;
    text-align: left;
    font-size: 13px;
}

.date-item {
    width: 350px;
}

.recommandation {
    margin-left: -320px;
}

/* MEDIA QUERIES */
@media all and (max-width: 830px) {

    .aboutMe {
        position: absolute;
        width: 104%;
        height: auto;
        padding-left: 5%;
        padding-right: 0;
        z-index: 1;
    }
    .item-aboutMe {
        margin-right: 30px;
    }
    .aboutMe-responsive {
        background-color: white;
        height: 1550px;
        z-index: 2; 
    }
    .aboutMe-responsive-img {
        padding-top: 40px;
        position: relative;
        background-color: #F4C402;
        margin-top: -40px;
        width: auto;
        height: 180px;
    }
    .cv {
        margin-top: 200px;
        margin-left: 3em;
        margin-right: 3em;
        position: relative;
        z-index: 2;
    }
    .date {
        width: 100px;
        text-align: left;
    }
    .date-item {
        width: 270px;
    }
    .recommandation {
        margin-left: -220px;
    }
    .item {
        margin-top: -20px;
    }
    .item-contact {
        margin-bottom: 40px;
    }
    #loisir {
        margin-top: 30px;
    }
    .item-loisirs-circle {
        margin-top: 0px;
    }
}


@media all and (max-width: 425px) {
    .box {
        width: 101%;
    }
    .aboutMe {
        position: absolute;
        width: 100%;
        height: auto;
        padding-left: 0;
        z-index: 1;
    }
    .aboutMe-responsive {
        background-color: white;
        height: 1770px;
        z-index: 2;
    }
    .date {
        width: 100px;
        text-align: left;
    }
    .date-item {
        width: 220px;
    }
    .recommandation {
        margin-left: -90px;
    }
}

@media all and (max-width: 375px) {
    .box{
        width: 101%;
    }
    .aboutMe {
        position: absolute;
        width: 100%;
        height: auto;
        padding-left: 0;
        z-index: 1;
    }
    .aboutMe-responsive {
        background-color: white;
        height: 1770px;
        z-index: 2;
    }
    .date {
        width: 100px;
        text-align: left;
        margin-left: -10px;
    }
    .date-item {
        width: 180px;
    }
    .recommandation {
        margin-left: -70px;
    }
}

@media all and (max-width: 320px) {
    .box {
        width: 102%;
    }
    .aboutMe {
        margin-top: -10px;
        margin-right: -1px;
        position: absolute;
        width: auto;
        height: auto;
        z-index: 1;
    }

    .aboutMe-responsive {
        background-color: white;
        margin-left: -5px;
        height: 1770px;
        z-index: 2;
    }
    .date {
        width: 100px;
        text-align: left;
    }

    .date-item {
        width: 180px;
    }

    .recommandation {
        margin-left: -70px;
    }
}




