
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');


.container {
    justify-content: flex-start;
    font-family: 'Almarai', sans-serif;
}

.box {
    margin: auto;
    display: flex;
    justify-content: center;
}

/* SIDEBBAR */
h3 {
    font-weight: 400;
}

.aboutMe {
    width: 250px;
    height: auto;
    margin-left: -8px;
    margin-top: -10px;
    padding-top: 40px;
    background-color: #FFCA28; /* #FDD835 #FFCA28*/
    overflow-x: auto;
    overflow-y: auto;
}

.item__img {
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px solid #FFCA28;
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 3px 3px #616161;
}
.item__img__photo {
    height: 210px;
    width: auto;
}

.item {
    text-align: center;
    margin-top: 40px;
    color: black;
}
.item--fontSize {
    font-size: 13px;
}

.item__contact {
    text-align: left;
    margin-left: 30px;
}

.item__aboutMe {
    margin-left: 30px;
    text-align: left;
    margin-right: 30px;
    text-align: justify;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.item h3 {
    color: #FFCA28;
    background-color: #424242;
    padding: 5px;
}

.item__loisirs {
    margin-left: 30px;
    margin-right: 15px;
}

#loisir {
    margin-top: 190px;
    padding-bottom: 40px;
}

.item__loisirs__circle {
    width: 50px;
    height: 50px;
    border: 1px solid #424242;
    margin-top: 20px;
    border-radius: 50%;
    margin-right: 15px;
}


/* CV */
.color__font {
    color: #424242;
}

h1 {
 font-weight: 100;
}
h2 {
    font-weight: 400;
}
h4 {
    font-weight: 400;
}

body {
  
}

.contenu {
    margin-top: 100px;
}

.contenu__title {
    margin-right: 20px;
}

.cv {
    margin-left: 40px;
}

.name {
    font-size: 20px;
    font-weight: lighter;
}

.name h3 {
     margin-top: -30px;
}

mark {
    background-color: white;
    color: #FFCA28;
}

.hr {
    border: 1px solid #FFCA28;
    margin-top: -10px;
}

.hr--modif {
    width: 60px;
    margin-top: -20px;
}

.dotCircle {
    color: #FFCA28;
    width: 30px;
    margin-top: 14px;
}

.date {
    width: 200px;
    text-align: left;
    font-size: 13px;
}

.date__item {
    width: 350px;
}

.fontItalic {
    font-style: ;
}

.recommandation {
    margin-left: -350px;
}



/* MEDIA QUERIES */
@media all and (max-width: 830px) {
    .aboutMe {
        position: absolute;
        margin-top: 1450px;
        width: 105%;
        height: auto;
        padding-left: 5%;
    }

    .cv {
       /* margin-top: 1100px;*/
        margin-left: 10px;
        margin-right: 10px;
    }

    .date {
        width: 180px;
        text-align: left;
    }

    .date__item {
        width: 270px;
    }

    .recommandation {
        margin-left: -250px;
    }

    .item__loisirs__circle {
        margin-top: 0px;
    }
}
